<p id="notice"><%= notice %></p>

<h1><%=t '.title', :topic => @topic.name %></h1>

<%= link_to t('.new_talk'), new_talk_path(:topic_id => @topic.id), :class => 'button'   %>

<% @talks.each do |talk| %>
  <%= render talk %>
<% end %>

<%= link_to t('.new_talk'), new_talk_path(:topic_id => @topic.id), :class => 'button'   %>
