
<h1>
  <%=t '.title', :topic => @topic.name %>
  <%= link_to t('.new_talk'), new_talk_path(:topic_id => @topic.id), :class => 'button' %>
</h1>

<div id="notice"><%= notice %></div>

<% @talks.each do |talk| %>
  <%= render talk %>
<% end %>

<%= link_to t('.new_talk'), new_talk_path(:topic_id => @topic.id), :class => 'button' %>
