<p id="notice"><%= notice %></p>

<h1>Topic: <%= @topic.name %></h1>

<%= link_to "New Talk", :controller => 'talks', :action => 'new', :topic_id => @topic.id %>

<% @talks.each do |talk| %>
  <%= render talk %>
<% end %>

<%= link_to 'New Talk', new_talk_path %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
