<div class="talk">
  <h2 class="">
    <%= link_to talk do %>
      <strong><%= talk.title %></strong> 
    <% end %>
  </h2>
  <div class="info">
    <span class="count-messages">
      <%= link_to talk do %>
        <%=t '.messages', :count => talk.count_posts %>
      <% end %>
    </span>
    <span class="latest-post-by"><%=t '.latest_post_by' %>
      <%= link_to user_path(talk.posts[0].user), :class => 'by-user' do %>
        <%= image_tag talk.posts[0].user.avatar.url(:tiny) %>
        <%= talk.posts.last.user.username %>
      <% end %></span>
    <% unless talk.count_unread_posts.in? [nil?, 0] %>
      <span class="count-unread"><%= t('.unread_posts', :count => talk.count_unread_posts) %></span>
    <% end %>
    <span class="latest-post-at"><%= human_time talk.latest_post_at %></span>
    <span class="category"><%= talk.category.name %></span>
  </div>
</div>
