<div class="talk">
  <div>
    <%= link_to talk do %>
      <strong><%= talk.title %></strong> 
      <%=t '.in' %>
      <em><%= talk.topic.name %></em>
    <% end %>
  </div>
  <div><%=t '.latest_post' %>: <%= talk.posts.first.updated_at %></div>
  <div>
    "<%= talk.posts[0].text %>"
    <% if talk.posts[0].user %><%=t '.by' %> <%= talk.posts[0].user.realname %><% end %>
  </div>
  <div><%=t '.messages', :count => talk.posts.count %></div>
</div>
