<div class="talk">
  <h2 class="">
    <%= link_to talk do %>
      <strong><%= talk.title %></strong> 
    <% end %>
  </h2>
  <div class="info">
    <span class="count-messages">
      <%= link_to talk do %>
        <%=t '.messages', :count => talk.posts.count %>
      <% end %>
    </span>
    <span class="latest-post-by"><%=t '.latest_post_by' %>
      <%= link_to user_path(talk.posts[0].user), :class => 'by-user' do %>
        <%= image_tag talk.posts[0].user.avatar.url(:tiny) %>
        <%= talk.posts[0].user.username %>
      <% end %></span>
    <span class="latest-post-at"><%= human_time talk.posts.first.updated_at %></span>
    <span class="topic"><%= talk.topic.name %></span>
  </div>
</div>
