<% content_for :jquery_script do %>
  $('#new_post_form').enable_submit_if_possible('textarea#post_text');
  $('#new_post_form textarea').rteditor();

  $('*[data-remote=true]')
    .live('ajax:error', function(xhr, status, error) {
      alert('AJAX error: ' + status.status + ' ' + status.statusText);
      console.log(status);
    });
<% end %>

<div class="talk-page">
  <h1>
    <span class="title"><%= @talk.title %></span> 
    <span class="category"><%= @talk.category.name %></span>
  </h1>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <fieldset>
    <%= form_for @post, :html => { :id => 'new_post_form' }, :remote => true do |f| %>
      <%= render :partial => 'posts/form', :locals => { :post => @post } %>
      
      <div class="actions">
        <%= f.submit t('.submit_post') %>
      </div>
    <% end %>
  </fieldset>
</div>
