<% content_for :jquery_script do %>
  $('#new_post_form').enable_submit_if_possible('textarea#post_text');
  $('#new_post_form textarea').rteditor();
<% end %>

<div class="talk-page">
  <h1>
    <span class="title"><%= @talk.title %></span> 
    <span class="category"><%= @talk.category.name %></span>
  </h1>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <fieldset>
    <%= form_for @post, :html => { :id => 'new_post_form' } do |f| %>
      <%= f.hidden_field :talk_id %>
      <div class="field">
        <%= f.label :text, t('.answer') %><br />
        <%= f.text_area :text, :size => '50x8' %>
        <div id="coded_text" style="display:none"/>
      </div>
      <div class="actions">
        <%= f.submit t('.submit_post') %>
      </div>
    <% end %>
  </fieldset>
</div>
