<% content_for :jquery_script do %>
  $('#user_avatar')
    .stylize_file_input('Choose avatar')
    .change(function(ev) {
      $('img.avatar').css('opacity', 0.3);
    });
<% end %>

<%= form_for(@user, :url => registration_path(:user), :html => {:method => :put}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%=t 'error_msg', :count => @user.errors.count %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :realname %>
    <%= f.text_field :realname %>
  </div>
  <div class="field">
    <%= f.label :language %>
    <%= f.select :language, LANGUAGES %>
  </div>    
  <%= image_tag @user.avatar.url(:thumb), :class => 'avatar' %>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <% if @user.new_record? %>
    <div class="field">
      <%= f.label :password, t('.password') %>
      <%= f.password_field :password, :size => 40 %>
    </div>
    <% if @user.new_record? %>
      <div class="field">
        <%= f.label :password, t('.confirm_password') %><br/>
        <%= f.password_field :password_confirmation, :size => 40 %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
