<%= form_for @user, :url => {:action => :update_password}, :method => :put do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%=t 'error_msg', :count => @user.errors.count %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :current_password, t('.current_password') %>
    <%= password_field_tag :current_password, :max_size => 40 %>
  </div>

  <div class="field">
    <%= f.label :password, t('.password') %>
    <%= f.password_field :password, :max_size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password, t('.confirm_password') %>
    <%= f.password_field :password_confirmation, :max_size => 40 %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
