<h1><%=t '.title' %></h1>
<% if notice %>
  <p id="notice"><%= notice %>
<% end %>

<table>
  <tr>
    <th><%= t('.username') %></th>
    <th><%= t('.realname') %></th>
    <th><%= t('.email_address') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %>
      <% if session[:user_id] == user.id %><em>(<%= t('.you') %>)</em><% end %>
    </td>
    <td><%= user.realname %></td>
    <td><%= user.email_address %></td>
    <td><%= link_to t('.show'), user %></td>
    <td><%= link_to t('.edit'), edit_user_path(user) %></td>
    <td>
      <% if session[:user_id] != user.id %>
        <%= link_to t('.destroy'), user, confirm: t('.confirm_destroy'), method: :delete %></td>
      <% end %>
  </tr>
<% end %>
</table>
