<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Realname:</b>
  <%= @user.realname %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email_address %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
