<%= fields_for(post) do |f| %>

  <%= f.hidden_field :talk_id, :value => @talk.id %>

  <div class="field">
    <% if post.id.nil? %>
      <%= f.label :text, t('.answer') %>
    <% else %>
      <%= f.label :text, t('.edit_answer') %>
    <% end %>
    <%= f.text_area :text, :size => '50x8', :id => "post_text_#{ post.id }" %>
    <div id="coded_text" style="display:none"/>
  </div>

  <div class="field">
    <%= f.label :attachment, t('.attachment') %>
    <%= f.file_field :attachment %>
  </div>
<% end %>
