<% if flash[:current_post_id] and flash[:current_post_id] == post.id %>
  <a name="current"></a>
  <div id="post-<%= post.id %>" class="post current-post">
<% else %>
  <div id="post-<%= post.id %>" class="post">
<% end %>
    <div class="avatar">
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.avatar.url(:thumb) %>
      <% end %>
    </div>
    <span class="meta-info">
      <span class="by-user"><%= link_to post.user.username, user_path(post.user) %></span>
      <span class="created-at"><%= human_time post.created_at %></span>
      <% if session[:user_id] == post.user_id %>
        <%= link_to t('.edit'), edit_post_path(post.id), :remote => true, :class => 'edit_post' %>
      <% end %>
    </span>
    <div class="content">
      <%= post.rendered_text %>
    </div>
  </div>
