<!DOCTYPE html>
<html>
<head>
  <title><%= t('.forum_title') %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script>
    $(document).ready(function() {
      <%= yield :jquery_script %>
    })
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
    <div id="header">
      <div class="navigation">
        <% if session[:user_id] %>
  	      <%= link_to t('.settings'), edit_user_path(session[:user_id]) %>
  	      <%= link_to t('.invite'), invite_path %>
  	      <%= link_to t('.log_out'), logout_path %>
        <% end %>
       </div>
	  </div>
    <div id="main">
    	<div id="sidebar">
        <ul class="categories">
          <% if session[:user_id] %>
            <li>
              <%= link_to t('.start_page'), root_path, :class => ((request.path=='/') ? 'current' : '') %>
            </li>
            <% @categories.each do |category| %>
              <li>
                <%= link_to category, :class => ((defined?(@current_category) && category.id == @current_category.id) ? 'current' : '') do %>
                      <%= category.name %>
                      <span class="count"><%= category.talks.count %></span>
                <% end %>
              </li>
            <% end %>
            <%= yield :navigation %>
          <% end %>
        </ul>
    	</div>
    	<div id="content">
    	  <div class="content-inner">
      		<%= yield %>
    		</div>
    	</div>
    </div>
  </div>
</body>
</html>
