<!DOCTYPE html>
<html>
<head>
  <title><%= t('.forum_title') %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script>
    $(document).ready(function() {
      if ($('#notice').text()) {
        $('#notice').fadeIn().delay(3000).fadeOut('slow');
      }
      
      <%= yield :jquery_script %>
    })
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
	  <% if notice.present? %>
      <div id="notice" style="display:none"><%= notice -%></div>
    <% end %>

    <div id="header">
      <div class="navigation">
        <% if session[:user_id] %>
  	      <%= link_to @current_user.username, edit_user_path(session[:user_id]) %>
  	      <%= link_to t('.log_out'), logout_path %>
        <% end %>
       </div>
	  </div>
    <div id="main">
    	<div id="sidebar">
        <% if session[:user_id] %>
      	  <div class="panel">
      	    <h2><%= t('.categories') %></h2>
            <ul>
              <li>
                <%= link_to t('.start_page'), root_path, :class => ((request.path=='/') ? 'current' : '') %>
              </li>
              <% @categories.each do |category| %>
                <li>
                  <%= link_to category, :class => ((defined?(@current_category) && category.id == @current_category.id) ? 'current' : '') do %>
                        <%= category.name %>
                        <span class="count"><%= category.talks.count %></span>
                  <% end %>
                </li>
              <% end %>
              <%= yield :navigation %>
            </ul>
          </div>
          
          <div class="panel">
            <h2><%= t('.functions') %></h2>
            <ul>
              <li>
                <%= link_to t('.invite'), invite_path %>
              </li>
            </ul>
          </div>
        <% end %>
    	</div>
    	<div id="content">
    	  <div class="content-inner">
      		<%= yield %>
    		</div>
    	</div>
    </div>
  </div>
</body>
</html>
