<!DOCTYPE html>
<html>
<head>
  <title><%= t('.forum_title') %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script>
    $(document).ready(function() {
      <%= yield :jquery_script %>
    })
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <div id="header">
      <div class="navigation">
        <% if session[:user_id] %>
  	      <%= link_to t('.log_out'), logout_path %>
        <% end %>
       </div>
	  </div>
    <div id="main">
    	<div class="content">
    	  <div class="content-inner">
      		<%= yield %>
    		</div>
    	</div>
    	<div id="nav">
        <table class="topics">
          <tr>
            <td><%= link_to t('.start_page'), overview_index_path %></td>
          </tr>
          <% @topics.each do |topic| %>
            <tr class="<%= (defined?(@current_topic)&&topic.id==@current_topic.id) ? 'current' : '' %>">
                <td><%= link_to topic.name, topic %></td>
                <td><span class="count"><%= topic.talks.count %></span></td>
            </tr>
          <% end %>
          <%= yield :navigation %>
        </ul>
    	</div>
    </div>
  </div>
</body>
</html>
